<section class="page-section">
    <div ng-include='"fragments/breadcrumbs.html"'></div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="fa-stack text-danger">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="bold uppercase text-danger">Application Failure</span>
                    </div>
                </div>
                <div class="portlet-body text-danger">
                    Something went wrong! We are extremely sorry of the inconvenience caused. Please try again.
                </div>
            </div>
        </div>
    </div>
</section>