<section class="page-section">
    <div ng-include='"fragments/breadcrumbs.html"'></div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-check"></i>
                        <span class="caption-subject bold uppercase"> Application Success</span>
                    </div>
                </div>
                <div class="portlet-body">
                    Thanks for showing interest in ABC Banking Account. We have received your Application successfully. Here is an Application ID : <strong class="font-green" ng-bind="accountId"></strong>, Please keep it for any further communications.
                </div>
            </div>
        </div>
    </div>
</section>