<div class="row">
    <div class="col-md-12">
        <div class="portlet form">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa {{ formDetails.icon }}"></i>
                    <span class="caption-subject bold uppercase" ng-bind="formDetails.formName + ' Details'"></span>
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-sm btn-default btn-circle" ng-focus="toggleFormCompletion()" ng-blur="toggleFormCompletion()">Form Completion <i class="fa fa-angle-down"></i></a>
                </div>
            </div>
            <div class="portlet-body">
                <form class="form-horizontal" name="application.form" novalidate>
                    <div class="form-body">
							<div class="form-group {{ (application.form.$submitted || application.form[formField.modal].$touched) && ( application.form[formField.modal].$error.required || application.form[formField.modal].$invalid ) ? 'has-error' : '' }}" ng-repeat="formField in formFields">
                            <label class="col-md-3 control-label" ng-if="formField.title != ''">
                                <span ng-bind="formField.title"></span>
                                <span ng-if="formField.required" class="font-green">*</span>
                            </label>
                            <div class="{{ formField.type == 'R' || formField.type == 'C' ? 'col-sm-offset-3 col-md-7' : 'col-md-4' }}">
                                <input ng-if="formField.type == 'T' || formField.type == 'N'" ng-blur="updateFormCompletion(application.form)" type="{{ formField.type == 'T'  ? 'text' : 'number' }}" placeholder="Please Enter" name="{{ formField.modal  }}" ng-model="customer[formField.modal]" ng-required="{{formField.required}}" class="form-control">
                                <ui-select theme="bootstrap"/>
                                    <ui-select-match placeholder="Please Select">{{$select.selected.decode}}</ui-select-match>
                                    <ui-select-choices repeat="cities in formField.values | propsFilter: {code: $select.search, decode: $select.search}">
                                        <div ng-bind-html="cities.decode | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <textarea ng-if="formField.type == 'TA'" ng-blur="updateFormCompletion(application.form)" placeholder="Enter text" name="{{ formField.modal  }}" ng-model="customer[formField.modal]" ng-required="{{formField.required}}" class="form-control"></textarea>
                                <div class="radio-list" ng-if="formField.type == 'R'">
                                    <label class="radio-inline" for="moreAcc_{{$index}}" ng-repeat="value in formField.values">
                                        <input type="radio" ng-value="value.decode" id="moreAcc_{{$index}}" name="{{ formField.modal  }}" ng-model="customer[formField.modal]" ng-change="updateFormCompletion(application.form)" ng-required="{{formField.required}}">
                                        {{ value.decode }}
                                    </label>
                                </div>
                                <div class="checkbox-list" ng-if="formField.type == 'C'">
                                    <label class="checkbox-inline" ng-repeat="value in formField.values">
                                        <input type="checkbox" ng-value="value.decode" name="{{ formField.modal  }}" ng-model="customer[formField.modal]" ng-change="updateFormCompletion(application.form)" ng-required="{{formField.required}}">
                                        {{ value.decode }}
                                    </label>
                                </div>
                                <span ng-show="(application.form.$submitted || application.form[formField.modal].$touched) && formField.title != ''">
                                        <span class="help-block" ng-show="application.form[formField.modal].$error.required">Please enter {{ formField.title }}</span>
                                        <span class="help-block" ng-show="!application.form[formField.modal].$error.required && application.form[formField.modal].$invalid">Invalid {{ formField.title }}! Please re enter</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn default" type="button" ng-disabled="application.formSubmitted" ng-click="resetForm(application.form)">Reset</button>
                                <button class="btn btn-green" type="submit" ng-disabled="application.formSubmitted" ng-click="submit(application.form.$valid)">Save & Continue</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="circle-wrapper" ng-show="showFormCompletion">
                    <div id="form-complete-circle"></div>
                    <div class="circle-label cssFade" ng-show="circleRendered">Form Completion</div>
                </div>
            </div>
        </div>
    </div>
</div>
